*{
  background-color: white;
}

h1{
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
  background-color: #CFBFF7;
}

.outer{
  background-color: #CFBFF7;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

p, h2{
  font-size: 1.5em;
  text-align: center;
  background-color: #CFBFF7;
}

ul li, ul, .residents, .films, .inner{
  background-color: #CFBFF7;
  font-size: 1.0em;
}

.inner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

